.splash {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #0d0d0d;
    z-index: 1000;
    color: #DBA438;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none {
    opacity: 0;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #0d0d0d;
    z-index: -10;
    color: #DBA438;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

body {
    width: 90%;
    margin: auto;
    background: #E3D8C3;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #0d0d0d;
   font-weight: 600;
   font-size: 2.5rem;
}

.blurb p {
    color: #DBA438;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover .nav-link:active {
    color: #DBA438;
}

#mainNavbar .navbar-brand {
    color: #0d0d0d;
    font-weight: 400;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #ffffff;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

img {
    object-fit: cover;
}

.navbar.scrolled {
    background: #DBA438;
    transition: background 500ms;
}

label {
    padding: 10px;
}

.color-input {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
    color: #fff;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #DBA438;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

td {
      line-height: 3rem;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




